nav, h1, h2, h3, h4 {
    list-style: none;
    font-family: 'futura-pt', sans-serif;
    color: black;
    text-decoration: none;
    padding: .5rem 0;
    margin: .2rem 0;
    font-size: 1.5em;
    font-weight: 700;
}
p, .card-text, .points{
    font-family: 'futura-pt', sans-serif;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}

body{
    max-width: 100%;
    background: #eee;
}
.header{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    background-color: white;
}
#header-logo{
    display: block;
    max-width: 150px;
    width: 150px;
    height: auto;
}



.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 0 0 10px 0;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-text{
    font-family: 'futura-pt';
    color: white;
}
.carousel {
    border: none;
    display: block;
    width: 100% 
}
.nav-item {
    margin: 0 .75rem 0 .75rem;
    align-self: center;
    font-weight: 400;
    transition: 0.5s;
    position: relative;
}
.nav-item:hover{
    top: -2px;
}
.nav-link{
    color: #707070;
    transition: 0.5s;
    position: relative;
}
.nav-link:hover{
    color: #6080c8;
    
}
#nav-group{
  justify-self: end;
}

.logo {
    margin: -.5rem;
}
.card{
    box-shadow: 1px 1px 5px 1px #959595;
    height: 100%;
    max-width: 100%;
    border: none;
    border-radius: 1rem;
    background-color: #7090d8;
    margin: 1rem 1rem 1.5rem 1rem;
    flex-direction: column;
    
}
.card-title, .card-text{
    color: white;
    font-weight: 400;
    margin-top:1rem;
}
.card-header{
    border:none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: none;
    padding:0;
}
.card-body{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.btn-link, h5, a {
    color: white;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}
.site-footer{
    background-color: #656565;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 0 0 100%;
    overflow-x: hidden;
    margin: 0;
}
.contents{
    margin: 2rem 0;
}
.footer-txt{
    color:white;
    margin: 10px 0;
    padding: 10px 0;
}
.candidate-tiles{
    display:flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.carousel-background{
    background-color: #eee;
    width: 100%;
}

.count-row{
    display: flex;
    justify-content: space-around;
    margin: 0 5rem;
    flex-direction: row;
    flex-wrap: wrap;
}
#seconds {
    width: 14rem;
}
.carousel-indicators li{
    background-color: #7090d8;
}
.tight{
    margin: 1rem 8rem .3rem 8rem;
}
.hidden {
    display: none;
}
.space{
    margin: 0 0 2rem 0;
}

.text-link{
    color:black;
    font-family: 'futura-pt', sans-serif;
    text-decoration: underline;
}

.card-columns{
    -webkit-column-break-inside: avoid;
}


#logotitle{
    margin: 0 2rem;
    color: #656565;
}
#card-section{
    margin: 2rem 0 3rem 0;
}

.button-round
 {
  font-family: 'futura-pt', sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: 1rem;
  padding: 0.4rem 1.75rem;
  border: 2px solid #7090d8;
  color: white;
  transition: all 0.5s; /* this makes the hover effects smooth */
  line-height: 1.5rem;
  background: #7090c8;
  border-radius: 30px;
  position: relative; /* this is for the hover effects */
  top: 0;
  
}


.button-round:hover {
  color: white;  
  border-color: #6080c8;
  top: -2px;
  background: #90b0f8;

}
.button-roundg
 {
  font-family: 'futura-pt', sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem 2rem;
  border: 2px solid #707070;
  color: white;
  transition: all 0.5s; /* this makes the hover effects smooth */
  line-height: 1.5rem;
  background: #707070;
  border-radius: 50px;
  position: relative; /* this is for the hover effects */
  top: 0;
}

.button-roundg:hover {
  color: white; 
  border-color: #606060;
  top: -2px;
  background: #808080;
}
.card-grey{
    background-color: #707070;
    width:100%;
    height: 90%
}
.card-btn{
    position: absolute;
    bottom:   0;
    justify-content: center;
    justify-self: center;
}
footer{
    
    bottom: 0 ;
}
.navbar-toggler-icon{
    color:#707070;
}